version: '3.8'
services:
  app:
    image: ${DOCKER_IMAGE_URL} # GitHub Actions에서 변수 치환 예정
    expose:
      - "8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app